{
    "SlipNo": [
        "1",
        "2"
    ],
    "ChildNo": [
        "1",
        "2"
    ],
    "StaffCode": {
        "validSample": [
            "この値をコンストラクタにぶち込んでインスタンスが生成できるもの"
        ],
        "invalidSample": [
            "この値をコンストラクタにぶち込んでエラーにしたいもの"
        ]
    },
    "Date": {
        "validSample": [
            "19930430",
            "1993/04/30"
        ],
        "invalidSample": [
            "zzzzzz",
            "2000/02/30"
        ]
    }
}